{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
	<div class="register-user">
			<h1>Register New User</h1>
					{# If there are any errors on the form, display them #}
					{% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}
					{% if formErrors|length %}
						<div>
							<ul>
								{% for error in formErrors %}
									<li>{{ error.message }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

			<div class="register-user-form">
				{# Render the Form #}
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.firstName) }}
				{{ form_row(registrationForm.lastName) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword) }}
				{{ form_row(registrationForm.roles) }} 
			    <button>Register</button>
					{{ form_end(registrationForm) }}
			</div>
	</div>

{% endblock %}
