{% extends 'base.html.twig' %}

{% block title %} Books {% endblock %}

{% block body %}
  {% if book_list %}
    <table id="book_list" class="table table-striped">
      <thead>
        <tr>
          <th>Book Title</th>
          <th>Book Author</th>
          <th>Book Department</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in book_list %}
          <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.department }}</td>
            <td>
              <a href="/Book/{{ book.id }}" class="btn btn-dark">Show</a>
              <a href="/Book/edit/{{ book.id }}" class="btn btn-info">Edit</a>
              <a href="#" class="btn btn-danger delete-book" data-id="{{ book.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No books to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}

