{% extends 'base.html.twig' %}

{% block title %}
	Books
{% endblock %}

{% block body %}

	{# <p> {{ dump(book_list) }} </p>  #}


	{% if book_list %}

		<div class="grid-container">
			{% for book in book_list %}
				<div class="grid-item">
					<div class="card border-dark  mb-3" style="max-width: 40rem;">
						<div class="card-header">{{ book.title }}</div>
						<div class="card-body">
							<h4 class="card-title">{{ book.author }}</h4>
							<p class="card-text">{{ book.department }}</p>
							<button type="button" class="show_book_details" data-book-id="{{ book|json_encode() }}">Info</button>
							{# <a class="js-open-modal" href="#" data-modal-id="popup"> Click me </a> #}

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No books to display</p>
	{% endif %}

	{# book details modal start #}
<div class="book_details_popup">
	<div class="modal-box">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">	
					<h5 class="modal-title">
						<span class="bookTitle">
							Book title
						</span>
					</h5>	
					 <a href="#" class="close"><i class="far fa-times-circle"></i></a>			
				</div>
				<div class="modal-body">
					<h5 class="bookAuthor">Book Author</h5>
					<h5 class="bookDepartment ">Book Department</h5>
				</div>
				{# <div class="modal-footer">
				 <a href="#" class="close">Close</a> 
				</div> #}
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{% endblock %}
